resource_group_name       = "rg-dbgenai-dev"
secret_scope_name         = "aoai-scope"
use_ml_runtime            = true
openai_pypi_package       = "openai==1.56.0"
vectorsearch_pypi_package = "databricks-vectorsearch"
