resource_group_name  = "rg-dbgenai-dev"
account_name         = "aoaidbgenai0000"
deployment_name      = "gpt-5-chat"
model_name           = "gpt-5-chat"
model_version        = "2025-10-03"
scale_type           = "GlobalStandard"
deployment_capacity  = 1
